body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('bg.png');
}

.chats-sidebar {
    height:100vh;
    background-color: rgba(255,255,255,0.5);
    width: 30%;
    min-width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    overflow-y: auto;
    border-left: 1px solid #00000024;
}

.chats-sidebar ul{
    padding-left: 0;
}